{
  "printWidth": 120,
  "proseWrap": "always",
  "singleQuote": true,
  "tabWidth": 4,
  "overrides": [
        {
            "files": ["*.ts", "*.mts"],
            "options": {
                "parser": "typescript"
            }
        }
    ]
}
